src/main/mule/sample.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="9464e390-8611-40fa-a6df-6266f893b0fc" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="sampleFlow" doc:id="b3e44601-d0b9-453d-a54c-085f23043b98" >
		<http:listener doc:name="Listener" doc:id="7d4183ed-9551-46ee-9f7e-bc65dc87e508" config-ref="HTTP_Listener_config" path="/sample"/>
		<logger level="INFO" doc:name="Logger" doc:id="f4d4b041-cda5-4fbe-bbf0-c9176472940f" message="flow starteds"/>
		<set-payload value='#[%dw 2.0&#10;output application/json&#10;---&#10;{&#10;  "name": "Shivanand",&#10;  "City": "london"&#10;}]' doc:name="Set Payload" doc:id="a3b3a3d5-d52e-4421-9c50-a1cd716e22b3" />
	</flow>
</mule>
